@import '../../utils/Sass/variables.scss';


.search {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    &__input {
        width: 260px;
        height:30px;
        border:none;
        background-color: $secondaryLight;
        position: absolute;
        font-family: "kreon";
        padding:  5px;
       &:focus {
            outline:  none;
        }
    }
    &__button {
        background: none;
        border: none;
        position: relative;
        left: 115px;
        top: 6px;
        img {
            width: 25px;
        }
    }
}